*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}


/* Utilities */

.pd-15 {
    padding: 15px;
}

/* Utilities | Flex */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.row { 
    flex-flow: row 
}

.flex.justify-center { 
    justify-content: center 
}

.flex.align-center { 
    align-items: center 
}

.flex.grow-1{
    flex-grow: 1;
}

/* Containers | Flex */

.main-container {
    height: 100vh;
}

.main-content{
    background: #080b11;
}



/* Col-left */

.main-content .col-left{
    flex-basis: 215px;
    background: #000;
}

.main-content .col-right{
    position: relative;
}

.left-menu {
    flex-grow: 1;
}

.account {
    flex-basis: 15%;
}


/* Col-right */

.col-right .upgrade-bar{
    height: 80px;
    width: 100%;
    background: hsla(220, 85%, 43%, 0.521);
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
}

.col-right .upgrade-bar {
    text-align: right;
}

/* Col-right | Music-data-content */

.col-right .music-data-content{
    background: #141921;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    padding: 80px 15px 40px;
}

.music-data-content .nav-bar{
    height: 80px;
    width: 50%;
    background: #583131;
    margin: 15px auto;
}

.music-data-content .recently-played,
.music-data-content .created-for-user{
    height: 280px;
    width: 100%;
    background: hsl(69, 10%, 35%);
    margin-bottom: 15px;
}

/*  Music-player */

.music-player{
    background: #272727;
    flex-basis: 80px;
    justify-content: space-between;
}

.song-name {
    flex-basis: 18%
}

.player-bar{
    flex-basis: 60%
}