*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

/* Utilities */

.pd-15 {
    padding: 15px;
}

/* Containers | Flex */

.main-container {
    height: 100vh;
}

.main-content{
    background: #080b11;
}

/* Col-left */

.main-content .col-left {
    flex-basis: 215px;
    background: #000;
}

.main-content .col-right{
    position: relative;
}

.left-menu {
    flex-grow: 1;
}

.account {
    flex-basis: 15%;
}

/* Col-right */

.col-right .upgrade-bar{
    height: 80px;
    width: 100%;
    background: hsla(220, 85%, 43%, 0.521);
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
}

.col-right .upgrade-bar {
    text-align: right;
    padding: 15px 30px;
}

/* Col-right | Music-data-content */

.col-right .music-data-content{
    background: #141921;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    padding: 80px 15px 40px;
}

.music-data-content .nav-bar{
    height: 80px;
    width: 50%;
    background: #583131;
    margin: 15px auto;
}

.music-data-content .recently-played,
.music-data-content .created-for-user{
    width: 100%;
    background: hsl(69, 10%, 35%);
    margin-bottom: 15px;
    padding: 10px;
    justify-content: flex-start;
}

.recently-played .placeholder-box {
    background: red;
    height: 150px;
    flex-basis: calc(100% / 6);
    margin: 15px;
}

/*  Music-player */

.music-player{
    background: #272727;
    flex-basis: 80px;
    justify-content: space-between;
}

.song-name,
.volume-bar {
    flex-basis: 20%;
    background: blue;
}

.player-bar{
    flex-basis: 50%;
}

/* MEDIAQUERY 1024px */

@media screen and (max-width: 1024px){
    
    /* Music-data-content */
    .music-data-content .recently-played,
    .music-data-content .created-for-user {
        flex-wrap: wrap;
        justify-content: center;
    }

    .recently-played .placeholder-box{
        flex-basis: calc(100% / 4);

    }
}

/* MEDIAQUERY  650px */

@media screen and (max-width: 650.4px) /*? il 0.4 è custom per il mio monitor che altrimenti non mi fa scattare la mediaquery se la imposto a 650px interi */
{
    /* col-left */
    .main-content .col-left {
    flex-basis: 20px;
    background: #000;
}

    /* Music-data-content */
    .recently-played .placeholder-box{
        flex-basis: 40%;
    }
}


